@{
    ViewBag.Title = "Login";
}
@section Styles
{
    <style>
        .welcome-parent {
            height: 40rem;
        }

        div .welcome-width {
            width: 25rem;
        }
    </style>
}
<div class="welcome-parent flex-center">
    <!--Card-->
    <div class="card welcome-width">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="http://mdbootstrap.com/images/reg/reg%20(3).jpg" class="img-fluid" alt="Login">
            <a>
                <div class="mask"></div>
            </a>
        </div>
        <!--/.Card image-->
        <!--Button-->
        @*<a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>*@

        <!--Card content-->
        <div class="card-block">
            <!--Title-->
            <h4 class="card-title font-weight-bold">Bienvenido</h4>
            <p class="card-text">Eliga una opcion para visualizar su comprobante electronico.</p>
            <hr />
            <!--Text-->
            <div>
                <ul>
                    <li class="pull-left">
                        <a class="btn-floating btn-small special-color" href="@Url.Action("LoginDoc", "Home")"><i class="fa fa-chevron-right"></i></a><span class="card-text m-l-1">Por Comprobante</span>
                    </li>

                    <li class="pull-left">
                        <a class="btn-floating btn-small special-color" href="@Url.Action("LoginUser", "Home")"><i class="fa fa-chevron-right"></i></a><span class="card-text m-l-1">Por RUC o DNI</span>
                    </li>
                </ul>
            </div>         
        </div>
        <!--/.Card content-->
    </div>
    <!--/.Card-->
</div>
