<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SAMBHSConnectionString" connectionString="metadata=res://WebDataModel/DMMSQL.csdl|res://WebDataModel/DMMSQL.ssdl|res://WebDataModel/DMMSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=20505310072;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>